@require './page'

.home-blog
  .hero
    height: 400px !important
    h1, .description
      display: none !important

@media (max-width: $MQMobile)
  .home-blog
    .hero
      height: 150px !important

.sidebar-links
  .sidebar-group-items
    li
      .sidebar-link
        position: relative
      .active::before, .sidebar-link:hover::before
        content: '☄️'
        position: absolute
        top: 5px
        left: 8px
        width: 20px
        height: 20px

.theme-reco-content
  ul
    li
      list-style: none
      &::before
        content: '🌴'
        padding-right: 5px

.light .reco-color:before
  content: '🦅' !important

.dark .reco-color:before
  content: '🦉' !important

.navbar .site-name
  font-size: 1.6rem !important

.reco-search:before
  content: '🎣' !important
