@require './page'

.home-blog
  .hero
    height: 400px !important
    h1, .description
      display: none !important

@media (max-width: $MQMobile)
  .home-blog
    .hero
      height: 150px !important

